In [1]:
import plotly.express as px
from scrap import *

In [2]:
dropdown_categories = [val for val in list(get_fund_list().keys())]

dropdown_value = dropdown_categories[:4]

In [3]:
data = pd.DataFrame(columns=['Date'])

for val in dropdown_value:
    print(val)

    df = fund_download(val)
    df.columns = ['Date', val]
    data = pd.merge(data, df, how='outer', on='Date')

S&P 500 UCITS ETF
Downloading...
Fund S&P 500 UCITS ETF downloaded.
Plotting dataframe...
U.S. Equity Index Fund
Downloading...
Fund U.S. Equity Index Fund downloaded.
Plotting dataframe...
FTSE Developed World ex-U.K. Equity Index Fund
Downloading...
Runtime when trying to spot the download button
-------- RETRY --------
FTSE Developed World ex-U.K. Equity Index Fund
Fund FTSE Developed World ex-U.K. Equity Index Fund downloaded.
Plotting dataframe...
FTSE All-World UCITS ETF
Downloading...
Runtime when trying to spot the download button
-------- RETRY --------
FTSE All-World UCITS ETF
Fund FTSE All-World UCITS ETF downloaded.
Plotting dataframe...

In [4]:
data

,Date,S&P 500 UCITS ETF,U.S. Equity Index Fund,FTSE Developed World ex-U.K. Equity Index Fund,FTSE All-World UCITS ETF
0,2022-09-01,61.92,754.2606,524.8092,81.70
1,2022-08-31,61.73,746.6360,523.0582,82.34
2,2022-08-30,62.20,752.5309,526.4302,82.81
3,2022-08-29,62.89,NaN,NaN,83.40
4,2022-08-26,63.31,756.0013,528.7309,84.27
...,...,...,...,...,...
3348,2009-06-29,NaN,102.3487,102.1191,NaN
3349,2009-06-26,NaN,101.6697,101.6331,NaN
3350,2009-06-25,NaN,103.1402,102.3949,NaN
3351,2009-06-24,NaN,99.7198,100.2270,NaN
3352,2009-06-23,NaN,100.0000,100.0000,NaN

In [22]:
df_perc = data.groupby(data.Date.dt.year).mean().reset_index()
df_perc

,Date,S&P 500 UCITS ETF,U.S. Equity Index Fund,FTSE Developed World ex-U.K. Equity Index Fund,FTSE All-World UCITS ETF
0,2009,NaN,116.315897,116.492224,NaN
1,2010,NaN,138.944660,133.215630,NaN
2,2011,NaN,152.387439,141.366448,NaN
3,2012,NaN,169.403312,147.801441,NaN
4,2013,NaN,209.545849,180.501749,NaN
5,2014,NaN,237.434190,197.961091,NaN
6,2015,NaN,276.207400,221.972795,NaN
7,2016,NaN,320.895342,251.603944,NaN
8,2017,NaN,399.741331,313.771344,NaN
9,2018,NaN,439.948975,337.714296,NaN
10,2019,44.795818,491.032199,368.260934,67.921739
11,2020,48.917220,543.675511,400.686003,71.063050
12,2021,65.763760,695.522677,498.656828,93.587248
13,2022,65.494535,725.560408,513.764585,88.462558

In [28]:
dd = df_perc.copy()
for future, past in zip(df_perc.iloc[1:].iterrows(), df_perc.iterrows()):
    i, row_f = future
    j, row_p = past
    for col in df_perc.columns[1:]:
        profit = round(100*(row_f[col] - row_p[col])/ row_p[col], 2)
        dd.loc[j, col] = profit
dd = dd.iloc[:-1]
dd

,Date,S&P 500 UCITS ETF,U.S. Equity Index Fund,FTSE Developed World ex-U.K. Equity Index Fund,FTSE All-World UCITS ETF
0,2009,NaN,19.45,14.36,NaN
1,2010,NaN,9.67,6.12,NaN
2,2011,NaN,11.17,4.55,NaN
3,2012,NaN,23.70,22.12,NaN
4,2013,NaN,13.31,9.67,NaN
5,2014,NaN,16.33,12.13,NaN
6,2015,NaN,16.18,13.35,NaN
7,2016,NaN,24.57,24.71,NaN
8,2017,NaN,10.06,7.63,NaN
9,2018,NaN,11.61,9.05,NaN
10,2019,9.20,10.72,8.80,4.62
11,2020,34.44,27.93,24.45,31.70
12,2021,-0.41,4.32,3.03,-5.48

In [29]:
d = dd.melt(id_vars=['Date']).dropna()
d

    Date                                        variable  value
10  2019                               S&P 500 UCITS ETF   9.20
11  2020                               S&P 500 UCITS ETF  34.44
12  2021                               S&P 500 UCITS ETF  -0.41
13  2009                          U.S. Equity Index Fund  19.45
14  2010                          U.S. Equity Index Fund   9.67
15  2011                          U.S. Equity Index Fund  11.17
16  2012                          U.S. Equity Index Fund  23.70
17  2013                          U.S. Equity Index Fund  13.31
18  2014                          U.S. Equity Index Fund  16.33
19  2015                          U.S. Equity Index Fund  16.18
20  2016                          U.S. Equity Index Fund  24.57
21  2017                          U.S. Equity Index Fund  10.06
22  2018                          U.S. Equity Index Fund  11.61
23  2019                          U.S. Equity Index Fund  10.72
24  2020                          U.S. Equity Index Fund  27.93
25  2021                          U.S. Equity Index Fund   4.32
26  2009  FTSE Developed World ex-U.K. Equity Index Fund  14.36
27  2010  FTSE Developed World ex-U.K. Equity Index Fund   6.12
28  2011  FTSE Developed World ex-U.K. Equity Index Fund   4.55
29  2012  FTSE Developed World ex-U.K. Equity Index Fund  22.12
30  2013  FTSE Developed World ex-U.K. Equity Index Fund   9.67
31  2014  FTSE Developed World ex-U.K. Equity Index Fund  12.13
32  2015  FTSE Developed World ex-U.K. Equity Index Fund  13.35
33  2016  FTSE Developed World ex-U.K. Equity Index Fund  24.71
34  2017  FTSE Developed World ex-U.K. Equity Index Fund   7.63
35  2018  FTSE Developed World ex-U.K. Equity Index Fund   9.05
36  2019  FTSE Developed World ex-U.K. Equity Index Fund   8.80
37  2020  FTSE Developed World ex-U.K. Equity Index Fund  24.45
38  2021  FTSE Developed World ex-U.K. Equity Index Fund   3.03
49  2019                        FTSE All-World UCITS ETF   4.62
50  2020                        FTSE All-World UCITS ETF  31.70
51  2021                        FTSE All-World UCITS ETF  -5.48

In [ ]:
# df = px.data.tips()
fig = px.bar(d, x="Date", y="value", facet_col="variable")
fig.show()

In [20]:
df_perc

funds,Date,S&P 500 UCITS ETF,FTSE Developed World ex-U.K. Equity Index Fund,FTSE Developed World UCITS ETF
0,2009,NaN,116.492224,NaN
1,2010,NaN,133.215630,NaN
2,2011,NaN,141.366448,NaN
3,2012,NaN,147.801441,NaN
4,2013,NaN,180.501749,NaN
5,2014,NaN,197.961091,NaN
6,2015,NaN,221.972795,NaN
7,2016,NaN,251.603944,NaN
8,2017,NaN,313.771344,NaN
9,2018,NaN,337.714296,NaN
10,2019,44.795818,368.260934,52.510571
11,2020,48.917220,400.686003,54.008533
12,2021,65.763760,498.656828,71.662403
13,2022,65.573333,513.563342,68.604226

In [18]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]